---
layout: default
id: olympiads
---

{% for i in (1..page.olympiads.count) %}
<div class="row p-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fs-3">
                    {% if page.lang == "en" %}
                        {{ page.olympiads[i].enname }}
                    {% else %}
                        {{ page.olympiads[i].arname }}
                    {% endif %}
                    <span class="text-muted fs-5">({{ page.olympiads[i].id | upcase }})</span>
                </h5>
                {% if page.olympiads[i].website != null %}
                <p class="card-text">
                    <small class="text-body-secondary">
                        <i class="bi-link-45deg"></i>
                        <a href="{{ page.olympiads[i].website }}">{{ page.olympiads[i].website }}</a>
                    </small>
                </p>
                {% endif %}
                <p class="card-text">
                    {% if page.lang == "en" %}
                    {{ page.olympiads[i].endescription }}
                    {% else %}
                    {{ page.olympiads[i].ardescription }}
                    {% endif %}
                </p>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-wrap gap-3">
                        <span class="me-3"><span class="bi-award-fill medal-gold"></span> {{ page.olympiads[i].gold }}</span>
                        <span class="me-3"><span class="bi-award-fill medal-silver"></span> {{ page.olympiads[i].silver }}</span>
                        <span class="me-3"><span class="bi-award-fill medal-bronze"></span> {{ page.olympiads[i].bronze }}</span>
                        <span class="me-3"><span class="bi-hm medal-hm"></span> {{ page.olympiads[i].hm }}</span>
                        <span class="me-3"><span class="fw-bold text-success">∑</span> {{ page.olympiads[i].gold | plus: page.olympiads[i].silver | plus: page.olympiads[i].bronze | plus: page.olympiads[i].hm }}</span>
                        <span class="me-3"><span class="bi-globe-americas text-success"></span> {{ page.olympiads[i].participations }}</span>
                    </div>
                    <a href="/{% if page.lang != 'ar' %}en/{% endif %}olympiads/{{ page.olympiads[i].id }}" class="btn btn-outline-success btn-sm">
                        {% if page.lang == "en" %}View{% else %}عرض{% endif %}
                    </a>
                </div>          
            </div>
        </div>        
    </div>
</div>
{% endfor %}