---
layout: default
usechartjs: true
---

<div class="row">
    <div class="col-md-6 col-sm-12 p-1 ">
        {% if page.lang == "en" %}
        <ul>
            <h2>Name: {{ page.full_name }}</h2>
            {% if page.graduation %}
            <li>Graduation year: {{ page.graduation }}</li>
            {% endif %}
            {% if page.codeforces %}
            <li>Codeforces account: <a href="https://codeforces.com/profile/{{ page.codeforces }}">@{{ page.codeforces }}</a></li>
            {% endif %}
        </ul>
        {% else %}
        <ul>
            <h2>الاسم: {{ page.full_name }}</h2>
            {% if page.graduation %}
            <li>سنة التخرج: {{ page.graduation }}</li>
            {% endif %}
            {% if page.codeforces %}
            <li>كودفورسيس: <a href="https://codeforces.com/profile/{{ page.codeforces }}">@{{ page.codeforces }}</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    {% if page.participations.count > 0 %}
    <div class="col-md-6 col-sm-12 p-1 ">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>{% if page.lang == "en" %} Name {% else %} الاسم {% endif %}</th>
                    <th>{% if page.lang == "en" %} Award {% else %} الجائزة {% endif %}</th>
                </thead>
                <tbody>
                    {% for i in (1..page.participations.count) %}
                    <tr>
                        <td>
                            <a href="{% if page.lang == 'en' %}/en{% endif %}/olympiads/{{ page.participations[i].olympiad }}/{{ page.participations[i].year }}">
                                {% if page.lang == "en" %}
                                {{ page.participations[i].enname }}
                                {% else %}
                                {{ page.participations[i].arname }}
                                {% endif %}
        
                                ({{ page.participations[i].olympiad | upcase }} {{ page.participations[i].year }})
                            </a>
        
                        </td>
                        <td>
                            {% if page.participations[i].award == 'gold' %}
                            <span class="bi-award-fill medal-gold"></span>
                            {% elsif page.participations[i].award == 'silver' %}
                            <span class="bi-award-fill medal-silver"></span>
                            {% elsif page.participations[i].award == 'bronze' %}
                            <span class="bi-award-fill medal-bronze"></span>
                            {% elsif page.participations[i].award == 'hm' %}
                            <span class="bi-hm medal-hm"></span>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% if page.exams %}
<div class="row debug-only justify-content-center">
    <div class="col-6">
        <details>
            <summary>{{ site.data[page.lang].view_exams_record }}</summary>
            <table class="table table-striped">
                <thead>
                    <th>{{ site.data[page.lang].name }}</th>
                    <th>{{ site.data[page.lang].date }}</th>
                    <th>{{ site.data[page.lang].sum }}</th>
                    <th>{{ site.data[page.lang].rank }}</th>
                </thead>
                <tbody>
                    {% for i in (1..page.exams.count) %}
                    <tr>
                        <td><a href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/exams/{{ page.exams[i].exam.id }}">{{ page.exams[i].exam.name }}</a></td>
                        <td>{{ page.exams[i].exam.date }}</td>
                        <td>{{ page.exams[i].sum | round: 2 }}</td>
                        <td>{{ page.exams[i].rank }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
    </div>
</div>
{% endif %}

